<h1>Monsters</h1>

<div id="monsters">
</div>

<script type="text/template" id="monsterView">
	<td class="name">{{name}}</td>
	<td class="current_hp">{{current_hp}}</td>
	<td class="max_hp">{{max_hp}}</td>
</script>
